.roundDisplay {
    color:white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.buttons {
    background-color: black;
    border:0.1em solid #FFFFFF;
    color:white;
    border-radius:5px;
    padding:5px
       
}
.buttons:hover {
    border:0.1em solid red;
    color:red;
}

.inputArea {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 76px;
    padding: 50px;
}

body{
    background-color: black;
}